<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title page-title text-center" id="location-modal">Are you sure you want to delete?</h4>
        <h3 id="delete-modal-content" class="text-center page-title">City to Delete</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3 col-md-offset-3">
            <button type="button" class="mui-btn mui-btn--raised mui-btn--default delete-modal-button" data-dismiss="modal">Cancel</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="mui-btn mui-btn--raised mui-btn--danger delete-modal-button confirm-delete-location-button" data-dismiss="modal">Confirm Delete</button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div> 