/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 *= require_self
 *= require jquery.jcrop
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "mui";
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import "font-awesome-sprockets";
@import "font-awesome";



html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  //background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ec/World_map_blank_without_borders.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.navbar {
  margin-bottom: 0px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}


.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


.pagination-box {
  display: inline-block;
  height: 50px;
  margin-bottom: 25px;
  margin: 0 auto;
  padding-left: 20px;
}

.clearfix {
  clear: all;
}


.trip-list-tile-backup {
  border: 1px solid white;
  border-radius: 3px;
  webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.28);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.28);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.28);
  margin-right: 10px;
  margin-top: 10px;
}

.trip-list-tile {
  display: inline-block;
  width: 25%;
}

.tile-image {
  width: 100%;
   -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
   -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.75);
   box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.75);
  
}

.tile-box {
  padding: 0;
  min-width: 290px;
  max-width: 600px;
  margin: 0 auto;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.tile-container {
} 

.text-over-image { 
  position: relative; 
  width: 100%; /* for IE 6 */
}

.tile-title{ 
  position: absolute; 
  top: 20px; 
  left: 15px; 
  width: auto; 
  max-width: 80%;
  overflow: hidden;
}

.tile-blurb{
  position: absolute;
  top: 115px;
  left: 15px;
  width: auto;
  max-width: 90%;
  overflow: hidden;
}

.tile-cost{
  position: absolute;
  top: 20px;
  right: 15px;
  width: auto;
  overflow: hidden;
}

.grey-background{ 
  color: white; 
  font: bold 24px/55px Helvetica, Sans-Serif; 
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.5);
  padding: 0 20px 0 20px; 
}

.blurb-text {
  font: bold 20px/35px Helevetica, Sans-Serif;
  color: white; 
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.5);
  padding: 0px 25px 0px 20px; 
}

.blurb-summary {
  font: bold 14px/35px Helevetica, Sans-Serif;
  color: white; 
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.5);
  padding: 0px 25px 0px 20px; 
}

.share-container {
  position: absolute;
  left: 15px;
  bottom: 15px;
  font: bold 14px/35px Helevetica, Sans-Serif;
  color: white; 
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.5);
  padding: 0px 25px 0px 20px; 
}
 
//.trip-page-image{
// width: 200px;
//  margin-right: 110px; 
//}



.trip-summary {
  min-width: 100px;
  color: white;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  color: #0086b3;
  text-shadow: 2px 2px 1px  white;
}

.page-title {
  font-family: 'Lobster', cursive;
  font-size: 45px;
  color: #0086b3;
  text-shadow: 2px 2px 1px  white;
}


//trip edit accordian

#accordion {
  padding-top: 5px;
}

.accordion-toggle {
  cursor: pointer;
}

.accordion-content.default {
  display: none;
}

.accordion-content {
  display: block;
}

.location-search {
  max-width: 400px;
}

.margin-top {
  margin-top: 15px;

}

#gmaps-input-address {
  float: left;
  display: inline-block;
  margin-top: 5px;
}

#submit-location-btn {
  float: right;
  display: inline-block;
  margin-top: 5px;
}

#gmaps-canvas {
  display: block;
  height: 400px;
  width: 100%;
  margin-top: 15px;
  border: 1px solid #999;
  -moz-box-shadow:    0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
  box-shadow:         0px 0px 5px #ccc;
}

#hidden {
  visibility: hidden;
}

.latlong {
  font-size: 8px;
}

.mui-textfield > i {
  font-size: 10px;
  color: grey;
}

.grow { transition: all .1s ease-in-out; }
.grow:hover { 

  transform: scale(1.03); 
  z-index: 1000;
 -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
         box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.75);
}

.fa {
  margin-right: 5px;
  font-size: 16px;
}

.fa:hover {
  transform: scale(1.5);
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
}

a > .fa {
  color: white;
  text-decoration: none;
}

.no-click {
  pointer-events: none;
}

.jumbotron {
  background-color: white;
  margin-top: 35px;
}

.jumbotron > p {
  font-size: 45px;
  font-family: 'Lobster', cursive;
}

.trip-page-header {
   background-color: black;
   margin: -15px;
   padding: -10px;
}

.trip-page-header-content-container {
  margin: 40px 0 25px 0;
}



.debug_dump {
  position: fixed;
  bottom: 0px;
  left: 30%;
  right: 30%;
  z-index: 2000;
}

.debug-button {
  height: 45px;
  width: 45px;
  border-radius: 100%;
  background-color: #ff3333;
  color: white;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 2001;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
          box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.debub-button:hover {
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 1);
}

.debug-button:active {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}

.bug-position {
  margin: 0 0 0 6px;
  font-size: 26px;
}

.fa-arrow-up {
  font-size: 40px;
  margin-top: 8px;
}

.scroll-up-button {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-color: #0086b3;
  color: white;
  position: fixed;
  bottom: 25px;
  margin: 0 auto;
  left: 50%;
  z-index: 2001;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
          box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.scroll-up-button:active {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}

.page-title-backdrop {
  background-color: white;
  border-radius: 5px;
  margin-top: 5px;
  display: inline-block;
  padding: 0 10px;
  margin-top: 15px;
}

//gmaps on modal fix trip#show
.pac-container {
  background-color: #FFF;
  z-index: 20;
  position: fixed;
  display: inline-block;
  float: left;
}
//gmaps on modal fix trip#show
.modal {
  z-index: 20;
}
//gmaps on modal fix trip#show
.modal-backdrop {
  z-index: 10;
}
