// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#trip-image-resize-button {
	position: absolute;
	top: 3px;
	left: 5px;
	color: white;
}

.main-trip-image {
	position: relative;
}

.small-trip-image {
	width: 100px;
}

.GMap {
	position: relative;
	height: 300px;
	width: 100%;
	border-radius: 5px;
}

#trip_map_canvas {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.delete-modal-button {
	margin: 0 auto;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}

.location-row-enter {
  opacity: 0.01;
}

.location-row-enter.location-row-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.location-row-leave {
  opacity: 1;
}

.location-row-leave.location-row-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.share-trip {
  position: relative;
  display: inline-block;
  background-color: lightgrey;
  padding: 5px;
  margin: 25px 15px;
  border: 2px solid lightgrey;
  border-radius: 4px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1)
}


