// Place all the styles related to the zomato controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.powered-by-zomato {
	font-size: 16px;
	color: #0086b3;
	font-family: 'Lobster', cursive;
	margin: -12px 0;	
}